body {
}

.table1 {
    border-collapse: collapse;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #C61117;
    border-right-color: #C61117;
    border-bottom-color: #C61117;
    border-left-color: #C61117;
    font-family: Arial;
    align-content: center;
    width: 1400px;
    height: 140px;
    background-color: #920005;
    margin: auto;
}

.logoUT {
    height: 90%;
    width: 14.35%;
}

.left_menu {
    width: 200px;
    height: 500px;
    background-color: #920005;
}

.content {
    height: 500px;
    width: 1200px;
    background-color: aliceblue;
    align-content: center;
}



.TEXTAREA1 {
    border-top-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #C61117;
    border-left-color: #C61117;
    border-right-color: #C61117;
    border-bottom-color: #C61117;
}

.TEXTAREA2 {
    border-top-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #C61117;
    border-left-color: #C61117;
    border-right-color: #C61117;
    border-bottom-color: #C61117;
}

.success {
    border-top-width: 1px;
    border-left-width: 1px;
    font-size: 15px;
    border-bottom-width: 1px;
    font-family: Verdana,Helvetica;
    border-right-width: 1px;
}

.succes2 {
    text-align: center;
}

.label_login {
    color: #920005;
}

.central_content {
    margin:auto;
}

.font {
    font-family: Tahoma;
    font-size: 11px;
}

.label1 {
    border-bottom-color: #999999;
    border-right-color: #999999;
    vertical-align: middle;
    text-align: right;
    font-size: 13px;
    font-family: Tahoma;
    color: #920005;
}

.label2 {
    border-bottom-color: #999999;
    border-right-color: #999999;
    vertical-align: middle;
    text-align: right;
    font-size: 13px;
    font-family: Tahoma;
    color: #920005;
}

.btn-succes {
    border-top-color: #000000;
    border-left-color: #000000;
    border-top-color: #000000;
    border-right-color: #000000;
    border-top-width: 1px;
    border-left-width: 1px;
    font-size: 10px;
    padding: 2px 7px;
    border-bottom-width: 1px;
    FONT-FAMILY: Tahoma;
    border-right-width: 2px;
}

.table2 {
    font-family: Arial;
    margin: auto;
    text-align: left;
}

.table2_1 {
    width: 1400px;
    height: 10px;
    background-color: white;
}

.table2_2 {
    background-color: white;
    text-align: center;
    text-align: center;
    color: #666666;
    font-size: 11px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
