<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    
</head>
<body>
    <input type="button" id="btn" value="Afiseaza" />
    <ul id="ulCadre"></ul>
    <input type="button" id="btn1" value="Stergere" />
    <table>
        <tr>
            <td class="label1"><div>Departament:</div></td>
            <td><input type="text" id="txtDep" placeholder="Departament" class="TEXTAREA1" /> </td>
        </tr>
        <tr>
            <td class="label2"><div>Nume:</div></td>
            <td><input type="text" id="txtNume" placeholder="Nume" class="TEXTAREA2" /> </td>
        </tr>
        <tr>
            <td class="label3"><div>Prenume:</div></td>
            <td><input type="text" id="txtPren" placeholder="Prenume" class="TEXTAREA3" /> </td>
        </tr>
        <tr>
            <td class="label4"><div>Titular:</div></td>
            <td><input type="text" id="txtTitular" placeholder="Titular" class="TEXTAREA4" /> </td>
        </tr>
        <tr>
            <td class="label5"><div>Pozitia:</div></td>
            <td><input type="text" id="txtPoz" placeholder="Pozitia" class="TEXTAREA5" /> </td>
        </tr>
    </table>
    <input type="button" id="btn2" value="Insereaza" />
    <input type="button" id="btn3" value="Actualizeaza" />
    <script src="js/script.js"></script>

</body >
</html >